@model IEnumerable<Cooking_App.Models.Receipe>

@{
    ViewBag.Title = "Index";
}



<html>
<head>

    <link href="~/Content/StateWiseMenu.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4">
                <a id="backme" href="~/Main/VNBMenu">  Goto MainMenu</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3 style="color:blue;font-weight:600">All Recipes</h3>
            </div>
            <div class="col-md-3">
                <a type="button" style="margin-left:50px" class="button" href="~/Admin/Create" >
                    <span class="button__text">Add New</span>
                    <span class="button__icon">
                        <ion-icon name="add-circle-outline"></ion-icon>
                    </span>
                </a>
            </div>

        </div>
    </div>

    <div class="container-fluid" style="margin-top:20px;">
        <div class="row">

            @foreach (var m in Model)
            {
                <div class="col-md-4" style="margin-top:20px">
                    <div class="card" style="width: 18rem;border-radius:4px 4px">
                        <img src="~/RecipeImg/@m.Photo" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title" style="font-weight:500;color:blue">@m.RName</h3>
                        </div>
                        <div class="card-body">
                            <span id="actlink" style="background: #3498DB;border-radius: 4px 5px;padding: 5px;border-top:1px solid #EAECEE">@Html.ActionLink("View Receipe", "Details", new { @id = m.RId })</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @*<h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-bordered table-hover">
            <thead style="background-color:darkblue;color:white">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Photo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Youtube)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ingredient)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HTM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VNB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="background-color:lightblue">
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RName)
                        </td>
                        <td>

                            <img src="@Html.DisplayFor(modelItem => item.Photo)" width="100px" height="100px" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Youtube)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingredient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HTM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VNB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.RId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.RId })
                        </td>
                    </tr>
                }
            </tbody>

        </table>*@
